<module>
	<rawname>sipsettings</rawname>
	<repo>standard</repo>
	<name>Asterisk SIP Settings</name>
	<version>2.11.0.3</version>
	<publisher>schmoozecom.com</publisher>
	<license>AGPLv3</license>
	<category>Settings</category>
	<menuitems>
		<sipsettings>Asterisk SIP Settings</sipsettings>
	</menuitems>
	<description>
		Use to configure Various Asterisk SIP Settings in the General section of sip.conf. Also includes an auto-configuration tool to determine NAT settings. The module assumes Asterisk version 1.4 or higher. Some settings may not exist in Asterisk 1.2 and will be ignored by Asterisk.
	</description>
	<changelog>
		*2.11.0.3* Packaging of ver 2.11.0.3
		*2.11.0.2* Packaging of ver 2.11.0.2
		*2.11.0.1* Adds rtp controlled settings (rtpstart,rtpend), re #6397
		*2.11.0.0* #6019
		*2.10.0.3* #5593
		*2.10.0.2* #5478 
		*2.10.0.1* new codecs, misc bugs
		*2.10.0.0* new version changes
		*2.9.0.5* #5010
		*2.9.0.4* #4996, #5000
		*2.9.0.3* #4930
		*2.9.0.2* #3976
		*2.9.0.1* #4543
		*2.9.0.0* #4630
		*2.8.0.1* #4681
		*2.8.0.0* published 2.8 version
		*2.7.0.1* localizations
		*2.7.0.0* #3976 allows codec priorities
		*2.6.0.7* #3866
		*2.6.0.6* #3722, localizations
		*2.6.0.5* #3831, #3722
		*2.6.0.4* spelling errors
		*2.6.0.3* #3814
		*2.6.0.2* #3808, #3809, #3810
		*2.6.0.1* corrected publisher/lic
		*2.6.0.0* localizations, misc
		*2.6.0beta1.2* install script 'if not exists' missing
		*2.6.0beta1.1* misc bugs, typos
		*2.6.0beta1.0* lots of tweaks, fixed install.php error
		*2.6.0alpha1.1* Added db
		*2.6.0alpha1.0* Incomplete screen mockup
	</changelog>
    <depends>
        <module>core ge 2.11.0.0beta2.4</module>
    </depends>
	<location>release/2.11/sipsettings-2.11.0.1.tgz</location>
	<md5sum>47e47c28fbfac43027693ece66a53ade</md5sum>
</module>