input.validation-error {
	border:2px solid red;
}
div.sip-errors {
	border:3px solid red;
	background-repeat: repeat-x;
}
div.sip-errors p {
	text-align:center;
	color:red;
	font-weight:bold;
	text-decoration:underline;
}

#codec_list {
	list-style-type: none;
	max-width:275px;
	padding: 0;
	margin: 0;
}
#codec_list li {
	padding:2px 10px;
	margin:2px;
	background: #ecf6ff;
	border:1px solid #ccc;
}

